body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #f0f2f5;
}

.no-print {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1000;
}

.container {
  max-width: 900px;
  margin: auto;
  padding: 20px;
  background: #b0adad;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  
}

input, select, button {
  padding: 10px;
  margin: 5px 0;
  width: calc(100% - 22px);
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: #007BFF;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th {
  background-color: #007BFF;
  color: #ffffff;
}

th, td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

.print-area {
  width: 4in;
  height: 6in;
  background-image: url('1.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  position: relative;
  -webkit-print-color-adjust: exact;
  print-color-adjust: exact;
}

@media (max-width: 768px) {
  .container {
    padding: 10px;
  }

  input, select, button {
    width: 100%;
  }

  th, td {
    font-size: 14px;
    padding: 8px;
  }

  .no-print {
    position: static;
    margin-bottom: 10px;
  }
}

@media print {
  body * {
    visibility: hidden;
  }

  .print-area, .print-area * {
    visibility: visible;
  }

  .print-area {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 4in;
    height: 6in;
    background-size: 4in 6in;
  }

  .no-print {
    display: none !important;
  }

  @page {
    size: 4in 6in;
    margin: 0;
  }
}
